---
const year = new Date().getFullYear();
---

<div class="footer text-center p-8">
  <div class="caption2 text-neutral-200 mt-8">© {year} Makeshift Software Inc. All Rights Reserved</div>

  <img src="/assets/images/footer-gradient.png" alt="footer-bg" class="footer-bg" />
</div>

<style>
  .footer {
    position: relative;

    .footer-bg {
      position: relative;
      bottom: 0;
      left: 0;
    }
  }
</style>
